version: 1.0.{build}
image: Visual Studio 2019

platform:
  - x64

install:
  - cmd: echo "compile OpenCV"
  - cmd: git clone --depth=1 --branch=3.4 https://github.com/opencv/opencv.git
  - cmd: git clone --depth=1 --branch=3.4 https://github.com/opencv/opencv_contrib.git
  - cmd: md build-opencv
  - cmd: cd build-opencv
  - cmd: cmake -DWITH_JASPER=OFF -DWITH_WEBP=OFF -DBUILD_IPP_IW=OFF -DBUILD_ITT=OFF -DWITH_OPENEXR=OFF -DWITH_OPENJPEG=OFF -DBUILD_PROTOBUF=OFF -DWITH_TIFF=OFF -DBUILD_PERF_TESTS=OFF -DBUILD_TESTS=OFF -DBUILD_opencv_gapi=OFF -DBUILD_opencv_ml=OFF -DBUILD_opencv_objdetect=OFF -DBUILD_opencv_photo=OFF -DBUILD_opencv_stitching=OFF -DBUILD_opencv_aruco=OFF -DBUILD_opencv_bioinspired=OFF -DBUILD_opencv_fuzzy=OFF -DBUILD_opencv_hfs=OFF -DBUILD_opencv_img_hash=OFF -DBUILD_opencv_surface_matching=OFF -DBUILD_opencv_bgsegm=OFF -DBUILD_opencv_intensity_transform=OFF -DBUILD_opencv_optflow=OFF -DBUILD_opencv_phase_unwrapping=OFF -DBUILD_opencv_plot=OFF -DBUILD_opencv_rapid=OFF -DBUILD_opencv_reg=OFF -DBUILD_opencv_rgbd=OFF -DBUILD_opencv_saliency=OFF -DBUILD_opencv_shape=OFF -DBUILD_opencv_stereo=OFF -DBUILD_opencv_structured_light=OFF -DBUILD_opencv_superres=OFF -DBUILD_opencv_tracking=OFF -DBUILD_opencv_videostab=OFF -DBUILD_opencv_xfeatures2d=OFF -DOPENCV_EXTRA_MODULES_PATH=../opencv_contrib/modules ../opencv -G "Visual Studio 16 2019"
  - cmd: cmake --build . --config Release
  - cmd: cd..
  - cmd: set OpenCV_DIR=C:\projects\ed-lib\build-opencv
build_script:
  - cmd: md build
  - cmd: cd build
  - cmd: cmake .. -G "Visual Studio 16 2019"
  - cmd: cmake --build . --config Release

test_script:
  - cmd: set PATH=C:\projects\ed-lib\build-opencv\bin\Release
  - cmd: C:\projects\ed-lib\build\Release\test.exe C:/projects/ed-lib/planet_glow.jpg
  - cmd: C:\projects\ed-lib\build\Release\test_ED.exe C:/projects/ed-lib/billiard.jpg
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe C:/projects/ed-lib/opencv/samples/data/vtest.avi --scale=2 --counter=100
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe C:/projects/ed-lib/opencv/samples/data/vtest.avi --scale=4 --counter=50
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe C:/projects/ed-lib/opencv/samples/data/vtest.avi --scale=8 --counter=50
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe C:/projects/ed-lib/opencv/samples/data/vtest.avi --scale=16 --counter=5
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe C:/projects/ed-lib/opencv/samples/data/vtest.avi --scale=23 --counter=1
  - cmd: C:\projects\ed-lib\build\Release\video_test.exe http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4

artifacts:
  - path: .\build\CIRCLES_AND_ELLIPSES_RESULT_IMAGE.jpg
    name: CIRCLES_AND_ELLIPSES_RESULT_IMAGE.jpg
  - path: .\build\diff0.png
    name: diff0.png
  - path: .\build\edgeImg0.png
    name: Edge Image ( Original )
  - path: .\build\edgeImg1.png
    name: Edge Image ( OpenCV )
  - path: .\build\diff1.png
    name: diff1.png
  - path: .\build\lineImg0.png
    name: Line Image ( Original )
  - path: .\build\lineImg1.png
    name: Line Image ( OpenCV )
  - path: .\build\diff2.png
    name: diff2.png
  - path: .\build\edgePFImage0.png
    name: PF Edge Image ( Original )
  - path: .\build\edgePFImage1.png
    name: PF Edge Image ( OpenCV )
  - path: .\build\ellipsImg0.png
    name: Ellipses Image ( Original )
  - path: .\build\ellipsImg1.png
    name: Ellipses Image ( OpenCV )
